#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

&mt {
    flavor = "tap-preferred";
    tapping_term_ms = <175>;
};

I can now type things taht I wasn't sure were typeale

/ {

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
            &kp QUOT    &kp CMMA    &kp DOT     &kp P       &kp Y 		&kp F       &kp G       &kp C       &kp R       &kp L
            &lt 1 A     &mt LCTRL O &mt LALT E  &mt LCMD U  &kp I 		&kp D       &mt RCMD H  &mt RALT T  &mt RCTRL N &lt 1 S
            &kp COLN    &kp Q       &kp J       &kp K       &kp X		&kp B       &kp M       &kp W       &kp V       &kp Z
                                                &kp LSHFT   &kp SPC  	&kp RET     &kp RSHFT
            >;
		};

        symbols_layer {
            bindings = <
            &kp NUM_1   &kp NUM_2       &kp NUM_3       &kp NUM_4       &kp NUM_5		&kp NUM_6   &kp NUM_7   &kp NUM_8   &kp NUM_9   &kp NUM_0
            &kp GRAVE   &mt LCTRL SLASH &mt LALT LBKT   &mt LCMD RBKT   &kp ESC 		&none       &kp LEFT    &kp DOWN    &kp UP      &kp RIGHT
            &kp BSLH    &kp EQL 	    &kp MINUS       &kp SLASH       &kp ESC 	    &none       &kp HOME    &kp PG_DN   &kp PG_UP   &kp END
                                                        &kp LSHFT       &kp TAB  		&kp BKSP    &kp RSHFT
            >;
		};

	};
};
